.addWaterRightBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #323F47;
    border: none;
    outline: none;
    border-radius: 50px;
   
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    gap: 10px;
}

.addWaterRightBtn:focus {
    outline: none;
    box-shadow: none;
}

.addWaterRightBtn .iconPlus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #9BE1A0;
    border-radius: 50%;
    font-size: 18px;
    color: #323F47;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.addWaterRightBtn:active .iconPlus {
    background-color: #323F47;
    color: #FFFFFF;
}
/* new button */