.waterUsageInfoContainer {
  width: 100%;
  min-height: 328px;
}

.paginationControlsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
    color: #323f47;
}

.title {

    color: #323f47;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
}

@media screen and (min-width: 768px) {
  .waterUsageInfoContainer {
    min-height: 354px;
  }
  .title {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
  }
}

.titleUk {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
