.log-info {
  border-radius: 15px;
  padding: 40px 14px;
  width: 344px;
  height: 267px;
  position: relative;
}

.log-h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  /* text-align: center; */
  margin-bottom: 14px;
}
.log-qestion {
  align-items: center;
  letter-spacing: -1;
  line-height: 18px;
  size: 14px;
  /* margin-bottom: 28px; */
}

.btns-log {
  width: 304px;
  height: 101px;
  gap: 9px;
  margin-top: 28px;
  justify-content: center;
  /* display: flex; */
}
.log-first-btn {
  width: 304px;
  height: 46 px;
  padding: 14px 126px;
  gap: 10px;
  border-radius: 30px;
  background: #9be1a0;
  border: none;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 9px;
}
.log-second-btn {
  width: 304px;
  height: 46px;
  padding: 14px 126px;
  gap: 10px;
  border-radius: 30px;
  background: #f0eff4;
  border: none;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
}
