input:hover {
  outline: none;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
}

/* Titles */
.title {
  padding-bottom: 20px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #323f47;
}
.secondTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color: #323f47;
}
.updateDailyUp {
  display: none;
}

/* Images */
.img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
}

.iconFake {
  width: 70px;
  height: 75px;
  fill: #323f47;
  border-radius: 50%;
  background-color: #9be1a0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* FileUploadInput */
.fileUpload {
  padding-top: 10px;
  display: flex;
}
.customUpload {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}
.btnUpload {
  font-size: 14px;
  background-color: transparent;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  cursor: pointer;
}
.uploadIcon {
  width: 18px;
  height: 18px;
}
.inputFile {
  display: none;
}

/* All containers */
.avatarCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}
.partCover {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
.partCover.box {
  gap: 14px;
}
.radioCover {
  display: flex;
  align-items: center;
  margin-top: 14px;
}

/* All inputs */

.inputRadio {
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #9be1a0;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
}

.inputRadio:checked {
  background-color: #ffffff;
  border: 2px solid #9be1a0;
  position: relative;
}

.inputRadio:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #9be1a0;
  border-radius: 50%;
}

.input {
  width: 100%;
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 14px;
  height: 46px;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #2f2f2f;
  margin-top: 8px;
}
.input:focus {
  border: 1px solid rgba(47, 47, 47, 0.2);
  background-color: transparent;
}
input:hover {
  border: 1px solid rgba(47, 47, 47, 0.4);
  background-color: transparent;
}
.input::placeholder {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}
.input.options {
  margin-top: 8px;
}

/* Errors */
.errorInput,
.errorInput:hover {
  border: 2px solid var(--validation-error);
}
.error {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: var(--validation-error);
  margin-top: 5px;
}

/* All descriptions */
.labelRadio {
  padding-right: 20px;
  font-size: 14px;
  cursor: pointer;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}

.formulaCover {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 14px;
}
.descr {
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #2f2f2f;
}
.descr.actives {
  padding: 0;
}
.greenDscr {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: #9be1a0;
}
.formulaDescr {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  color: rgba(47, 47, 47, 0.6);

  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;
  width: 100%;
  margin-bottom: 14px;
}
.formulaStar {
  color: #9be1a0;
}
.coverMarkIcon {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}

.limitAmount {
  margin-bottom: 14px;
}

.btnSubmit {
  margin-top: 40px;
  padding: 14px 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
  border-radius: 30px;
  padding: 14px 40px;
  width: 116px;
  background-color: #9be1a0;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s ease;
}
.btnSubmit:focus {
  background-color: #87d28d;
}

@media screen and (min-width: 768px) {
  .form {
    min-width: 568px;
  }
  .title {
    font-size: 28px;
    line-height: 1.14286;
  }
  .img {
    width: 100px;
    height: 100px;
  }
  .btnUpload {
    font-size: 16px;
    line-height: 1.6;
  }
  .descr {
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
  }
  .secondTitle {
    font-size: 18px;
    line-height: 1.33333;
  }
  .labelRadio {
    font-size: 16px;
  }
  .input {
    padding: 16px;
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
  }
  .updateDailyUp {
    display: flex;
    padding-bottom: 14px;
  }
  .updateDailyDown {
    display: none;
  }
  .formulaCover {
    flex-direction: row;
    gap: 28px;
  }
  .coverMarkIcon {
    margin-top: 0;
  }
  .limitAmount {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .descrTablet {
    padding-bottom: 0;
  }
  .greenDscr {
    font-size: 15px;
    line-height: 1.49333;
  }
  .btnSubmit {
    padding: 16px 50px;
    width: 141px;
    height: 56px;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1440px) {
  .coverForLaptop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 594px;
    gap: 40px;
  }
  .miniCoverLaptop {
    width: 400px;
  }
  .form {
    min-width: 840px;
  }
  .withoutMargin {
    margin: 0;
  }
}
