.add-water-modal {
  width: 343px;
  height: 514px;
  top: 105px;
  left: 16px;
  padding: 40px 20px;
  gap: 24px;
  border-radius: 15px;
  /* opacity: 0px; */
}
.add-modal {
  width: 248px;
  height: 48px;
  font-size: 20px;
  /* font-weight: 700; */
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #323f47;
  margin-bottom: 24px;
  /* opacity: 0px; */
}
.title-choose {
  width: 174px;
  height: 20px;
  font-size: 16px;
  /* font-weight: 700; */
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 20px;
}
.paragr-amount {
  width: 118px;
  height: 18px;
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 8px;
}
.section-btn-add {
  width: 185px;
  height: 40px;
  gap: 8px;
  margin-bottom: 12px;
}
.title-btn-minus {
  border: 1.5px solid #323f47;
}
.water-paragraph {
  width: 89px;
  height: 40px;
  padding: 11px 20px;
  gap: 10px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
.title-btn-plus {
  border: 1.5px solid #323f47;
}
.paragr-recording-add {
  width: 108px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-bottom: 8px;
}
.recording-input-time {
  width: 303px;
  height: 46px;
  padding: 14px 390px 14px 16px;
  gap: 10px;
  border-radius: 15px;
  border: 1px;
  border: 1px solid #2f2f2f26;
}
.paragr-enter-add {
  width: 268px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-top: 24px;
}
.enter-input-volume {
  width: 303px;
  height: 46px;
  padding: 14px 393px 14px 16px;
  gap: 10px;
  border-radius: 15px;
  border: 1px;
  border: 1px solid #2f2f2f26;
  margin-top: 8px;
}
.btn-save {
  width: 116 px;
  height: 46 px;
  padding: 14px 40px;
  gap: 10px;
  border-radius: 30px;
  background: #9be1a0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-top: 24px;
}
